* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: rgb(16, 11, 78);
  align-items: center;
}


h1 {
  margin: 32px 0;
  background-color: aqua;
  color: #fff;
  font-size: 24px;
  font-family: fantasy
}
.nav {
    background-color: #929a1b;
    height: 60px;
    text-align: center;
    justify-content: end;
  }
  
  .nav a {
    color: rgb(255, 255, 255);
    background-color: #929a1b;
    font-size: 1.3rem;
    text-decoration: none;
    text-align: end;
    justify-content: end;
    margin: 5px;
    line-height: 3;
  }

  .row {
    display: inline-block
  }

  .footer {
    list-style-type: none;
    background-color: rgb(217, 255, 0);
    clear: both;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%
  }
  .footer li {
    display: inline-block;
    padding: 3px;
  }


  

